* {
    box-sizing: border-box;
}

:root {
    --skilltag-width: 10%;
}

.galbody * {
    animation: appear 1s ease-in-out;
}

.navitem.navActive {
    color: red;
}

.homeNavItem.navActive {
    background-color: rgba(0, 0, 0, .1);
}

body {
    margin: 0;
    padding: 0;
    animation: fade 1s ease-in;
}

.htmlHeader {
    color: red;
    text-align: center; 
    font-weight: bold; 
    margin-top: 5%;
}

.homeBody {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("homepic.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 95%;
}

.bodyHeader {
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    text-align: center;
    animation: appear 3s ease-in-out;
}

.container4 {
    padding: 1%;
}

.navBar {   
    position: fixed;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    box-shadow: 0 4px 10px #efefef;
    z-index: 100;
    top: 0%;
}

.homeNavbar.whiten {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px #efefef;
}
.homeNavbar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgba(255, 255, 255, .05);
    position: fixed;
    top: 0%; /* need this since position is fixed*/
    width: 100%;
    z-index: 100;
}

.homeNavbar * {
    padding: 1%;
}

.navBar * {
    padding: 1%;
}

.homePar {
    font-size: 1.1rem;

}

.homeBtn {
    display: flex;
    padding-left: 10%;
    justify-content:baseline;
    align-items: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.navList {
    padding: .2%;
    width: 100%;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 10;
    animation: fadeDown 1s ease-in-out;
}

.navList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList ul li {
    display: inline-block;
}

.navitem {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: .5s;
}

.homeNavItem {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: .5s;
}

.black {
    color: black;
}

.homeNavItem.black {
    color: black;
}

.bar {
    display: flex;
    padding-right: 10%;
    justify-content: end;
    align-items: center;
    color: white;
    width: 100%;
    background: none;
    visibility: hidden;
}

.bar > i.dark {
    color: white;
}

.bar:hover,
.bar:focus {
    cursor: pointer;
}

.homeBtn:hover,
.homeBtn:focus {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.navitem:hover {
    background-color: rgba(0, 0, 0, .1);
    color: red;
}

.homeNavItem:hover {
    background-color: rgba(0, 0, 0, .1);
    color: red;
}

.aboutmepar {
    display: none;
}

.aboutmeactive {
    display: grid;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 10px #efefef;
    padding: 2%;
    transition: all 0.5s ease-in-out;
}
.card:hover,
.card:focus {
    box-shadow: 0 4px 10px red;
    transform: translateY(-1.5%);
}
.greetings {
    font-size: 3.5rem;
    font-weight: bold;
}

#head {
    color: red; 
    display: inline-block;
    position: relative;
}
#head::after {
    content: "";
    position: absolute;
    border-left: 1px solid red;
    height: 100%;
    width: 100%;
    left: 0%;
    background-color: white;
    animation: typeAnimation 3s steps(16) infinite;
}

.sec1 {
    width: 60%;
    text-align: center;
}

.pfpImg {
    width: 40%;
    transition: all 2s;
    text-align: center;
}

.pfpImg:hover {
    transform: scale(0.8);
}
 
#pfp {
    border-radius: 50%;
    width: 60%;
    transition: all 2s;
    border: 0.5rem solid;
    border-color: #6175aa;
 }

.contBtn {
    width: 40%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%; 
    transform: translateX(2%);
}

 .contact:hover {
    transform: scale(1.2);
}

.readmore {
    font-size: medium;
    width: 50%;
    opacity: 50%;
    background: none ;
    z-index: 5;
    border: none;
    box-shadow: 0 4px 10px #efefef;
    transform: translateY(-110%);
    cursor: pointer;
}

.readmore:hover {
    opacity: 100%;
}

.container10 {
    margin-left: 10%;
    width: 80%;
    height: 15rem;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.rotatingCard {
    position: relative;
    width: 30%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}

.frontCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    box-shadow: 0 4px 10px #efefef;
    background-color: white;
    color: black;
    height: 10rem;
    backface-visibility: hidden;
    width: 100%;
    height: 15rem;
    border-radius: 15px;
}

.backCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: black;
    background-image: linear-gradient(to right bottom, #fff8f8, #ffc8c5, #ff968c, #ff6050, #ff0000);
    backface-visibility: hidden;
    width: 100%;
    height: 15rem;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.frontCard:nth-child(1) {
    border-top: 7px solid green;
}

.rotatingCard:hover,
.frontCard:focus  {
    transform: rotateY(180deg);
}
.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #36454f;
    height: 10rem;
    width: 100%;
}

.footer > p {
    font-size: 1rem;
    color: white;
}

.container8 {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px #efefef;
    border-radius: 15px;
    padding: 2%;
}

.homeMiniCards {
    display: flex;
    gap:2rem;
    overflow-x: auto;
    white-space: wrap;
}

.miniCards{
    min-width: 250px;
    min-height: 20rem;
    background-image: linear-gradient(to right top, #051937, #004c6c, #008389, #52ba8c, #cbe989);
    box-shadow: 0 4px 10px #efefef;
    color: white;
    border: 1px solid #efefef;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 2%;
}

.miniCards:hover {
    color: black;
    background-image: linear-gradient(to right top, #3683f8, #a567e1, #de40b2, #f61b74, #f03232);}

/********************************skills page below****************************************/
.container6 {
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 1px 52px 2px #efefef;
    padding: 2%;
    position: relative;
    transition: all .5s;
}

.container6:hover,
.container6:focus {
    box-shadow: 0 4px 5px red;
    transform: translateY(-1%);
}

.skillContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1%;
}

.skillTag {
    width: var(--skilltag-width);
    background-color: #1904ff;
    text-align: center;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px 0px 0px 10px;
    z-index: 2;
}

.linebar {
    width: var(--width);
    background-image: linear-gradient(to left, #00d3ff, #00b5ff, #0091ff, #0065ff, #1904ff);
    animation: left-to-right 3s;
    padding: 1.5%;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}

.linebar:hover {
    background-image: linear-gradient(to left, #30fd53, #00dfba, #00b8ff, #0086ff, #1904ff);
}

[data-value="HTML"] {
    --width: calc(100% - var(--skilltag-width) - 10% + 10%);
}
[data-value="CSS"] {
    --width: calc(100% - var(--skilltag-width) - 15% + 10%);
}
[data-value="Python"] {
    --width: calc(100% - var(--skilltag-width) - 15% + 10%);
}
[data-value="JS"] {
    --width: calc(100% - var(--skilltag-width) - 20% + 10%);
}
[data-value="Java"] {
    --width: calc(100% - var(--skilltag-width) - 25% + 10%);
}
[data-value="C"] {
    --width: calc(100% - var(--skilltag-width) - 30% + 10%);
}
[data-value="React"] {
    --width: calc(100% - var(--skilltag-width) - 50% + 10%);
}
[data-value="VB"] {
    --width: calc(100% - var(--skilltag-width) - 50% + 10%);
}
[data-value="Node"] {
    --width: calc(100% - var(--skilltag-width) - 75% + 10%);
}
[data-value="Express"] {
    --width: calc(100% - var(--skilltag-width) - 80% + 10%);
}
[data-value="Mongo"] {
    --width: calc(100% - var(--skilltag-width) - 80% + 10%);
}

.container11 {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px #efefef;
    border-radius: 15px;
    padding: 2%;
}

.container12 {
    padding: 2%;
    gap: 1%;
    overflow-x: scroll;
    white-space: no-wrap;
    display: flex;
    max-height: 600px;
}
.skillCard {
    min-width: 400px;
    min-height: 450px;
    box-shadow: 3px 2px 15px 4px #efefef;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    position: relative;
}

.icons {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.container12Icons {
    border: 3px solid var(--skillCardColor);
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1%;
}

.container12Icons:hover {
    background-color: var(--skillCardColor);
    color: white;
}
.skillCard > h4 {
    font-weight: bold;
}

.skillCard:nth-child(1) {
    --skillCardColor: lightgreen;
    border-top: 5px solid var(--skillCardColor);
}
.skillCard:nth-child(2) {
    --skillCardColor: lightblue;
    border-top: 5px solid var(--skillCardColor);
}
.skillCard:nth-child(3) {
    --skillCardColor: lightcoral;
    border-top: 5px solid var(--skillCardColor);
}
.skillCard:nth-child(4) {
    --skillCardColor: black;
    border-top: 5px solid var(--skillCardColor);
}

.skillCard:hover {
    transform: translateY(-1.5%);
}
/**************************************projects section below***********************/

.container3 {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    gap: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.projCard:nth-child(1n) {
    --color: green;
    --footercolor: green;
}
.projCard:nth-child(2n) {
    --color: red;
    --footercolor: red;
}
.projCard:nth-child(3n) {
    --color: blue;
    --footercolor: blue;
}

.projCard {
    position: relative;
    width: 30%;
    height:45rem;
    box-shadow: 0 4px 10px #efefef;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    transition: 800ms ease;
    animation: 2s spinAround ease-in-out;
}

.projCard:hover{
    box-shadow: 0 4px 10px var(--color);
    transform: scale(1.02);
}

.container3-image {
    object-fit: cover;
    object-position: center;
    background-position: center;
    width: 100%;
    height: 20rem;
}

.container3-image > img {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px ;
}

.projDes {
    text-align: center;
    padding: 1.5%;
}

.projDes > p {
    font-size: large;
}

.projDes > h3 {
    font-weight: bold;
    color: var(--color);
}

.projFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: var(--footercolor);
    border-radius: 0px 0px 25px 25px;
}

.projFL {
    text-align: center;
    height: 5vh;
    flex: 1;
}

.container9 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: .5rem;
}

.softwares {
    position: relative;
    width: 10%;
    background-color: white;
    box-shadow: 0 4px 10px #efefef;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
}

.softwares.darkHighlight {
    background-color:rgba(0, 0, 0, .8)
}
.softwares > img.darken {
    filter:brightness(40%);
}

.softwares > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    padding: 5%;
}

.softwares > p {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: large;
    z-index: 0;
}


/********************************** gallery section**********************/

.gallerybody {
    width: 100%;
    height: 100vh;
}

.gallerybody ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.gallerybody ul li {
    inset: 0;  
    position: absolute;
}

.galPic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: none;
    transition: 2s ease-in-out;
}

.galContainer {
    position: relative;
    width: 100%;
    height: 100vh;
}
.galActive {
    display: block;
}
.galNext {
    position: absolute; 
    top: 45%;
    z-index: 100;
    color: black;
    font-size: 4rem;
    left: 95%;
    width: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    z-index: 2;
}

.galPrev {
    position: absolute; 
    border: 2px solid yellow;
    top: 45%;
    z-index: 100;
    color: black;
    font-size: 4rem;
    width: 5%;
    background-color: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    z-index: 2;
}

.galNext:hover,
.galPrev:hover,
.galNext:focus,
.galPrev.focus {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

/************************************************contact section******************/

.contactForm {
    width: 60%;
    margin-left: 20%;
    padding: 2%;
    
}

.contactForm > label {
    font-weight: bold;
}

.contactForm > input[type=text] {
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid rgb(122, 122, 122);
}

.contactForm > input[type=text]:focus  {
    border:none;
    border-bottom: 1px solid rgb(122, 122, 122);
}

#Inquiries {
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid grey;
    height: 10rem;
}

.contactForm > input[type=submit] {
    padding: .5rem;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to left, #1a9df0, #008cfb, #007aff, #0063ff, #3244ff);
}

.contactList {
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
}

.contactList > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.contactList > ul > li{
    padding: 1%;
    font-size: 3rem;
    cursor: pointer;
}
.contactList > ul > li > a{
    color: black;
}

.contactList > ul > li:hover {
    background-color: #36454f;
    color: white;
}

.contactList > ul > li {
    display: inline-block;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*******************************************animations********************************/
@keyframes left-to-right {
    0% {
        width: 0%;
    }

    100% {
        width: var(--width);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes shake {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes spinAround {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes typeAnimation {
    100% {
        left: 110%;
    }
}

@keyframes blinker {
    100% {
        opacity: 100%;
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media all and (min-width: 100px) and (max-width: 1000px) {

    .homeBody {
        background-image: url("homepic2.jpg");
        background-position: center;
    }

    .bodyHeader {
        font-size: 3rem;
    }
    .homeNavbar {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        height: auto;
        padding: 3%;
    }

    .navBar {
        padding: 3%;
    }
        
    .skillTag {
        font-size:x-small;
        border: 1px solid #1904ff;
    }

    [data-value="python"] {
        --width: 10%;
    }
    .homeBtn {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 1;
        padding: 5%;
    }

    .bar {
        grid-column-start: 10;
        grid-row-end: 1;
        visibility: visible;
    }

    .navList {  
        grid-row-start: 2;
        grid-column: span 10;
        display: none;
    }

    .navList.active {
        display: block;
    }
    .navList > ul > li {
        display: block;
    }

    .navitem:hover {
        background-color: rgba(0, 0, 0, .1);
        color: red;
        width: 100%;
    }
    
    .homeNavItem:hover {
        background-color: rgba(0, 0, 0, .1);
        color: red;
        width: 100%;
    }

    .sec1 {
        width: 100%;
        font-size: small;
    }

    .pfpImg {
        width: 60%;
    }

    #pfp {
        width: 100%;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
    }

    .container9 {
        flex-wrap: wrap;
    }

    .softwares {
        width: 20%;
        padding: 2%;
    }

    .softwares > p {
        font-size: medium;
    }

    .projCard {
        width: 95%;
        font-size: small;
    }
   
    .container6 {
        width: 98%;
        margin-left: 1%;
    }

    .galPic {
        position: absolute;
        width: 100%;
        height: 100%
    }
    .gallerybody {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: black;
        position: relative;
        overflow: hidden;
    }

    .galContainer {
        position: relative;
        height: 40vh;
    }
    .galNext {
        left: 93%;
        width: 7%;
        font-size: 2rem;
    }
    .galPrev {
        width: 7%;
        font-size: 2rem;
    }

    .courseDes {
        margin-top: 4%;
        height: 300px;
        width: 100%;
    }

    .courses {
        width: 100%;
    }
    .skillBtn {
        width: 100%;
    }

    .readmore {
        width: 60%;
    }

    .container10 {
        flex-wrap: wrap;
        height: 45rem;
    }

    .rotatingCard {
        width: 100%;
    }

    .container11 {
        width: 98%;
        margin-left: 1%;
    }

    .skillCard {
        min-width: 300px;
        font-size: 1rem;
        margin-bottom: 4%;
    }

    .container12Icons {
        font-size: 1rem;
    }

    .greetings {
        font-size: 2.5rem;
    }

    .card {
        width: 96%;
        margin-left: 2%;
    }
    .htmlHeader {
        margin-top: 13%;
    }

    .projDes > p {
        font-size: 1.2rem;
    }

    .container8 {
        width: 95%;
        margin-left: 2.5%;
    }
    .homeMiniCards {
        justify-content: flex-start;
    }
    .miniCards{
        min-width: 200px;
        min-height: 18rem;
        margin-bottom: 5%;
    }

    .container3-image {
        object-fit:fill;
        height: 15rem;
    }

    .contactForm {
        width: 95%;
        margin-left: 2.5%;
    }

    .contactList{
        width: 95%;
        margin-left: 2.5%;
    }

    .contactList > ul {
        gap: 3rem;
    }

    .contactList > ul > li {
        font-size: 2rem;
    }
}

@media all and (min-width: 1001px) and (max-width: 1450px) { 
    .galPic {
        height: 100vh;;
    }
    .container3 {
        flex-wrap: wrap;
    }
    .projCard {
        width: 45%;
    }
}







