@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #ffffff, #f0fbf2);
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-container {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  padding: 0.9%;
  z-index: 5;
}

.navbar-content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  transition: all 0.5s ease-in;
}

.navbar-content nav h1 {
  font-size: 1.5rem;
}

.navbar-content .navClicks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.3rem;
  transform: translateX(-30%);
}

.navbar-content .navClicks li {
  font-size: 1.3rem;
  color: rgb(34 197 94);
  cursor: pointer;
  padding: 1% 4% 1% 4%;
  border-radius: 25px;
}

.navbar-content .navClicks li:hover {
  background-color: rgb(34 197 94);
  color: white;
}

.landing-container {
  width: 100%;
  height: 100vh;
  background-image: url('./pics/test2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(120,113,108);
  font-weight: bolder;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
}

.aboutMe-container {
  width: 100%;
  border: none;
  padding: 5%;
}

.aboutMe {
  display: flex;
  gap: 2rem;
  width: 70%;
}

.aboutMe article {
  width: 50%;
}

.imageContainer {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  position: relative;
}

.imageContainer img {
  object-fit: cover;
  border-radius: 25px;
  z-index: 3;
}

.aboutMe article h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(34 197 94);
  margin-bottom: 2%;
}

.aboutMe article h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.skills-container {
  width: 100%;
  border: none;
  padding-top: 5%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container h1 {
  font-size: 2rem;
  color: rgb(34 197 94);
  font-weight: bold;
  text-align: center;
}

.skills-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4%;
}

.skills-section {
  display: flex;
  width: 80%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-box {
  width: 30%;
  background-color: white;
  height: auto;
  border-radius: 25px;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid rgb(34 197 94);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-box h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(34 197 94);
}

.skills-mini {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2%;
}

.skills-mini div {

  flex-shrink: 0;
  font-size: 1.2rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(120 113 108);
  padding: 2%;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius: 10px;
  cursor: pointer;
}

.skills-mini div:hover {
  background-color: rgb(34, 197, 94, 0.5);
}


.project-box {
  min-height: 60vh;
  display: flex;
  width: 75%;
  border-radius: 25px;
  background-color: white;
  padding: 1%;
  border: 2px solid rgb(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  margin-bottom: 2%;
}

.project-box .projectGallery {
  width: 70%;
  height: inherit;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.projectGallery img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 25px;
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slide-left-left 0.5s ease-in;
}

.projectGallery [data-active] img {
  opacity: 1;
  animation: slide-left 0.5s ease-in;
}

.project-box .projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  width: 40%;
  gap: 2rem;
}

.projectContent h1 {
  font-size: 1.5rem;
}
.projectContent p {
  font-size: 1.1rem;
}

.project-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-footer span {
  background-color: rgb(34, 197, 94,0.7);
  padding: 2%;
  border-radius: 10px;
}

.landingTwo-container {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.landing-icon {
  padding: 1%;
  background-color: rgb(34, 197, 94,0.8);
  height: auto;
  width: 15%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-icon h1 {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 5%;
}

.landing-icon p {
  color: rgb(255,255,255,0.9);
  font-size: 1.5rem;
  text-align: center;
}

footer {
  width: 100%;
  background-color: rgb(34, 197, 94,0.8);
  padding: 3%;
  margin-top: 5%;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  align-items: center; 
}

.footer-container h1 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-socials {
  font-size: 3rem;
  display: flex;
  gap: 2rem;
}


.landing-content {
  width: 50%;
  height: 100vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding-left: 4%;
}

.landing-content h1{
  font-size: 3.5rem;
}

.landing-content p{
  font-size: 1.5rem;
}

.landing-content h1:nth-child(2) {
  color: rgb(34, 197, 94,0.8);
}

.landing-content div {
  width: auto;
  display: flex;
  gap: 2rem;
}

.landing-content div a {
  padding: 1.5%;
  font-size: 1.5rem;
  background-color: rgb(0,0,255,0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.landing-content div a:hover {
  background-color: rgb(0,0,255,0.7);
}

.animation-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-container * {
  width: 100%;
}

.contact-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
}

.contact-item {
  display: flex;
  align-items: center;
}

.dropDownForm {
  position: absolute;
  height: 100vh;
  top: 0%;
  left: 0;
  width:100%;
  z-index: 35;
  background-color: white;
  animation: slide-left 0.4s ease-in;
}

.dropDownForm.inactive {
  display: none;
}

.dropDownUL {
  margin-top: 15%;
  list-style: none;
  padding: 0;
  color: rgb(34 197 94);
}

.dropDownUL li {
  text-align: center;
  padding: 5%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.dropDownUL li:hover {
  background-color: rgb(0,0,0,.1);
}

/*Custom start hamburger/x icon*/
.navbar-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  cursor: pointer;
  z-index: 40;
}

.navbar-icon span {
  display: block;
  width: 35px;
  height: 3px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  z-index: 40;
}

.navbar-icon.active span:nth-child(2) {
  transform: rotate(45deg) translateX(2px) translateY(0);
}

.navbar-icon.active span:nth-child(3) {
  transform: rotate(-45deg)
}

.navbar-icon.active span:nth-child(1) {
  display: none;
}

.navbar-icon.active span:nth-child(2),
.navbar-icon.active span:nth-child(3) {
  margin-bottom: 0;
}

.nextButton {
  font-size: 3.5rem;
  z-index: 2;
  font-weight: bold;
  color: rgb(0,0,0,.5);
  position: absolute;
  top:50%;
  left:100%;
  transform: translate(-100%, -50%);
  cursor:pointer;
  background: none;
  border: none
}

.previousButton {
  font-size: 3.5rem;
  z-index: 2;
  font-weight: bold;
  color: rgb(0,0,0,.5);
  position: absolute;
  top:50%;
  left:0;
  transform: translate(0%, -50%);
  cursor:pointer;
  background: none;
  border: none
}

.nextButton:hover, .previousButton:hover {
  background-color: rgb(0,0,0,.2);
  color: rgb(0,0,0,.8);
}



@media (min-width: 100px) and (max-width: 900px) {

  .navbar-icon {
    display: flex;
    width: 60px;
  }

  .navbar-icon span {
    width: 35px;
    height: 4px;
    margin-bottom: 6px;
  }

  .navbar-content .navClicks {
    display: none;
  }

  .dropDownUL {
    display: block;
  }

  .navbar-container {
    padding: 3%;
  }

  .navbar-content nav {
    margin-left: 2%;
    margin-right: 2%;
  }

  .navbar-content nav h1 {
    font-size: 1.4rem;
  }

  .aboutMe-container {
    padding: 5%;
    margin-bottom: 5%;
  }

  .aboutMe {
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
  }

  .imageContainer {
    width: 100%;
  }

  .aboutMe article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-container {
    margin-bottom: 5%;
  }

  .skills-section {
    width: 100%;
  }

  .skills-box {
    width: 100%;
    padding: 5%;
  }

  .skills-box h1 {
    margin-bottom: 3%;
  }
  
  .skills-mini {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 40vh;
  }

  .skills-mini div {
    width: 49%;
  }

  .aboutMe article h1 {
    font-size: 1.4rem;
  }

  .aboutMe article h2 {
    font-size: 1.2rem;
  }
  .aboutMe article p {
    font-size: 1rem;
  }

  .skills-container .skills-box h1 {
    font-size: 1.2rem;
  }
  .skills-container h1{
    font-size: 1.4rem;
  }

  .skills-container h2{
    font-size: 1.2rem;
  }

  .skills-mini div h3 {
    font-size: 1rem;
  }

  .skills-mini div i {
    font-size: 1.5rem;
  }

  .project-box {
    flex-direction: column;
    width: 100%;
  }

  .project-box .projectGallery {
    width: 100%;
    order: 1;
  }
  .project-box .projectGallery ul {
    height: 25vh;
  }
  .project-box .projectContent {
    width: 100%;
    order: 2;
  }

  .project-footer {
    gap: 0.5rem;
  }

  .landingTwo-container {
    flex-wrap: wrap;
    padding: 0%;
    gap: 1rem;
    margin-bottom: 10%;
  }
  .landing-icon {
    width: 45%;
    transform: translateY(-5%);
    border-radius: 0px;
  }
  .landing-icon h1 {
    font-size: 1.5rem;
  }
  .landing-icon p {
    font-size: 1.2rem;
  }
  
  .footer-container {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 1rem;
    padding: 2rem
  }
  
  .footer-container h1 {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .footer-socials {
    font-size: 2.5rem;
    display: flex;
    gap: 2rem;
  } 

  .landing-container {
    flex-direction: column;
    gap:0rem;
  }

  .landing-content {
    padding-top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .animation-container {
    width: 100%;
    transform: translateY(-15%);
  }

  .landing-content h1{
    font-size: 2.5rem;
  }
  
  .landing-content p{
    font-size: 1.3rem;
  }

  .landing-content div {
    width: 80%;
    gap: 1rem;
  }
  
  .landing-content div a {
    width: 50%;
    font-size: 1.3rem;
    padding: 2.25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .imageContainer img {
    width: 85%;
  }

  .contact-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  #Contact h2 {
    margin-bottom: 10%;
  }

  .contact-item {
    margin-top: 2%;
  }

  .nextButton, .previousButton{
    font-size: 2.5rem;
  }

}


@media (min-width: 901px) and (max-width: 1550px) {

  .skills-box {
    width: 30%;
    height: auto;
  }

  .skills-box h1 {
    font-size: 1.2rem;
  }

  .skills-mini {
    justify-content: flex-start;
    padding: 2%;
  }

  .skills-mini div {
    width: 100%;
    padding: 1%;
  }

  .skills-mini div h3 {
    font-size: 1rem;
  }

  .skills-mini div i {
    font-size: 1.5rem;
  }

  .aboutMe-container {
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .aboutMe {
    width: 90%;
  }

  .imageContainer {
    width: 50%;
  }

  .aboutMe article {
    width: 50%;
  }

  .skills-section {
    width: 100%;
    display: flex;
  }

  .project-box {
    width: 85%;
    padding: 1%;
  }

  .projectContent h1 {
    font-size: 1.3rem;
  }

  .projectContent p {
    font-size: 1rem;
  }

  .projectContent .project-footer span {
    font-size: 0.9rem;
  }

  .landing-icon {
    width: 18%;
  }
  .landing-icon h1 {
    font-size: 1.8rem;
  }
  .landing-icon p {
    font-size: 1.3rem;
  }

  footer {
    padding: 3%;
  }

  .footer-container h1 {
    font-size: 1.2rem;
  }

  .landing-content h1{
    font-size: 3rem;
  }
  
  .landing-content p{
    font-size: 1.3rem;
  }

  .landing-content div {
    gap: 1rem;
  }
  
  .landing-content div a {
    font-size: 1.3rem;
  }

  .imageContainer img {
    width: 85%;
  }
  
}


@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-left-left {
  from {
    transform: translateX(0%);
    opacity:0.9;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

